@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
/* CSS root variables */
:root{
    --cardBackgroundColor: #FEFFD2;
    --songBackgroundColor: #FFEEA9;
    --textColorWhite: black;
    --createPlaylistBtnBgColor: #FF7D29;
    --dropDownBgColor: #FFBF78;
    --songImageBgColor: #FFBF78;
    --prevNxtAdpgBtnBgColor: #ffff;
    --darkCardBgColor: #7F8C8D;
    --darkSongBgColor: #BDC3C7;
    --darkSongImageBgColor: #FFEEA9;
}

*{
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

/* Toggle theme section starts here */
.toggleIconContainer{
    position: relative;
    padding: 0.2rem 0.2rem;
    margin: 0.2rem auto;
    width: 98%;
}

#toggleOff{
    display: flex;
    justify-content: flex-end;
    font-size: 2.8rem;
    cursor: pointer;
    z-index: -1;
}

.lightLetter{
    display: none;
    position: absolute;
    top: 32%;
    right: 2.8%;
    z-index: 1;
    color: white;
}

.darkLetter{
    position: absolute;
    top: 32%;
    right: 1.2%;
    z-index: 1;
}

.sgstThemeTxt{
    position: absolute;
    top: 32%;
    left: 2%;
    text-transform: capitalize;
}

/* Toggle theme section ends here */

/* Header Section starts here */
header{
    padding: 0.2rem 0.2rem;
    margin: 0.1rem auto;
    width: 98%;
}

header h2{
    font-size: 2.2rem;
    font-family: "Playwrite IT Moderna", cursive;
    text-align: center;
    margin: 0;
}

/* Header Section ends here */

/* All songs section starts here */
.songsMainContainer{
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.2rem 0.2rem;
    margin: 0.2rem auto;
    width: 98%;
}

.allSongsContainer{
    background-color: var(--cardBackgroundColor);
    border-radius: 0.4rem;
    padding: 0.2rem 0.2rem;
    padding-top: 1.2rem;
    width: 28%;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.filterContainer{
    padding: 0.2rem 0.2rem;
}

#genreFilter{
    background-color: var(--dropDownBgColor);
    outline: none;
}

#songSearchInput{
    width: 97%;
    padding: 0.4rem 0.2rem;
    margin: 0.2rem 0rem;
    outline: none;
    caret-color: black;
    background-color: var(--cardBackgroundColor);
    border: 1px solid black;
    border-radius: 0.4rem;
}

.allSongsListContainer{
    padding: 0.2rem 0.2rem;
    margin-top: 0.4rem;
    height: 21rem;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    scrollbar-color: transparent transparent;
}

.allSongsListContainer ul{
    list-style-type: none;
    padding-left: 0.2rem;
}

.allSongsListContainer ul li{
    background-color: var(--songBackgroundColor);
    border: 1px solid grey;
    color:var(--textColorWhite);
    border-radius: 0.2rem;
    padding: 0.4rem 0.4rem;
    margin: 0.2rem 0rem;
    cursor: pointer;
}

.allSongsListContainer ul li:hover{
    background-color: var(--textColorWhite);
    color: var(--songBackgroundColor);
}

.allSongsContainer h3{
    padding: 0.2rem 0.2rem;
    margin-top: 0.2rem;
}

/* All songs section ends here */

/* Song card section starts here */
.songsCardMainContainer{
    background-color: var(--cardBackgroundColor);
    border-radius: 0.4rem;
    padding: 0.2rem 0.2rem;
    padding-top: 1.2rem;
    width: 40%;
    height: 28rem;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
}

.songCardContainer{
    background-color: var(--songImageBgColor);
    border-radius: 0.8rem;
    padding: 0.2rem 0.2rem;
    width: 90%;
    margin: 0.1rem auto;
}

.songCardImageContainer{
    width: 90%;
    height: 18rem;
    border-radius: 0.4rem;
    margin: 0.1rem auto;
}

.audioInfoMainContainer{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0.1rem auto;
}

.songCardTextContent{
    padding: 0.2rem 0.2rem;
    width: 30%;
    margin: 0.4rem auto;
}

.songCardImageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
}

.songPlayerContainer{
    text-align: center;
    width: 85%;
    padding: 0.4rem 0.2rem;
    margin: 0.6rem 0.1rem;
}

.songPlayerContainer audio{
    width: 98%;
    height: 2.6rem;
}

.prevNextBtnContainer{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 85%;
    margin: 0.6rem auto;
    align-items: center;
    padding: 0.2rem 0.2rem;
}

.prevNextBtnContainer button{
    background-color: var(--prevNxtAdpgBtnBgColor);
    width: 20%;
    padding: 0.4rem 0.4rem;
    cursor: pointer;
    border: 1px solid grey;
    color: var(--textColorWhite);
}

.previousBtn:hover{
    opacity: 0.9;
}

.nextBtn:hover{
    opacity: 0.9;
}

/* Song card section ends here */

/* Media Queries Section starts here */
@media (max-width: 910px){
    header h2{
        font-size: 1.88rem;
    }

    .lightLetter{
        right: 3.8%;
    }
    
    .darkLetter{
        right: 1.6%;
    }
    
    .allSongsContainer{
        width: 34%;
    }

    #songSearchInput{
        width: 96%;
    }

    .allSongsListContainer{
        height: 23rem;
    }

    .songsCardMainContainer{
        width: 48%;
        height: 30rem;
    }

    .audioInfoMainContainer{
        display: flex;
        flex-direction: column;
    }

    .songCardTextContent{
        padding: 0.2rem 0.2rem;
        width: 94%;
        margin: 0.2rem 0.2rem;
    }

    .songPlayerContainer{
        width: 94%;
        margin: 0.1rem auto;
    }
    
    .songPlayerContainer audio{
        width: 98%;
        height: 2.2rem;
        margin: 0.1rem auto;
    }

    .prevNextBtnContainer{
        width: 85%;
    }

    .prevNextBtnContainer button{
        width: 30%;
    }

}

@media (max-width: 710px){
    header h2{
        font-size: 1.88rem;
    }

    .lightLetter{
        right: 5.4%;
    }
    
    .darkLetter{
        right: 2.5%;
    }

    .songsMainContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .allSongsContainer{
        width: 98%;
    }

    .allSongsListContainer{
        height: 14rem;
    }

    #songSearchInput{
        width: 98.5%;
    }

    .songsCardMainContainer{
        width: 98%;
        height: max-content;
        margin: 0;
    }

    .songCardTextContent{
        width: 28%;
    }

    .audioInfoMainContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0.1rem auto;
    }

    .songPlayerContainer{
        text-align: center;
        width: 90%;
        padding: 0.4rem 0.2rem;
        margin: 0.6rem 0.1rem;
    }
    
    .songPlayerContainer audio{
        width: 98%;
        height: 2.6rem;
    }

    .prevNextBtnContainer button{
        width: 50%;
    }

}

@media(max-width: 630px){
    .lightLetter{
        right: 6.6%;
    }
}

/* Media Queries Section ends here */

